<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>nguyennst.filter.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>nguyennst.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>nguyennst.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestSearchServlet</servlet-name>
        <servlet-class>nguyennst.controller.GuestSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchServlet</servlet-name>
        <servlet-class>nguyennst.controller.UserSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddToCartServlet</servlet-name>
        <servlet-class>nguyennst.controller.UserAddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserActionCartServlet</servlet-name>
        <servlet-class>nguyennst.controller.UserActionCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>nguyennst.controller.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartServlet</servlet-name>
        <servlet-class>nguyennst.controller.RemoveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserGetDiscountServlet</servlet-name>
        <servlet-class>nguyennst.controller.UserGetDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUseDiscountServlet</servlet-name>
        <servlet-class>nguyennst.controller.UserUseDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserConfirmServlet</servlet-name>
        <servlet-class>nguyennst.controller.UserConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowTourServlet</servlet-name>
        <servlet-class>nguyennst.controller.AdminShowTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateTourServlet</servlet-name>
        <servlet-class>nguyennst.controller.AdminCreateTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFaceBookServlet</servlet-name>
        <servlet-class>nguyennst.controller.LoginFaceBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewTourServlet</servlet-name>
        <servlet-class>nguyennst.controller.AdminViewTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPaidTourServlet</servlet-name>
        <servlet-class>nguyennst.controller.AdminPaidTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewTourServlet</servlet-name>
        <servlet-class>nguyennst.controller.UserViewTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPaymentServlet</servlet-name>
        <servlet-class>nguyennst.controller.UserPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestSearchServlet</servlet-name>
        <url-pattern>/GuestSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchServlet</servlet-name>
        <url-pattern>/UserSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddToCartServlet</servlet-name>
        <url-pattern>/UserAddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserActionCartServlet</servlet-name>
        <url-pattern>/UserActionCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartServlet</servlet-name>
        <url-pattern>/RemoveCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserGetDiscountServlet</servlet-name>
        <url-pattern>/UserGetDiscountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUseDiscountServlet</servlet-name>
        <url-pattern>/UserUseDiscountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserConfirmServlet</servlet-name>
        <url-pattern>/UserConfirmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowTourServlet</servlet-name>
        <url-pattern>/AdminShowTourServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateTourServlet</servlet-name>
        <url-pattern>/AdminCreateTourServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFaceBookServlet</servlet-name>
        <url-pattern>/LoginFaceBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewTourServlet</servlet-name>
        <url-pattern>/AdminViewTourServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPaidTourServlet</servlet-name>
        <url-pattern>/AdminPaidTourServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewTourServlet</servlet-name>
        <url-pattern>/UserViewTourServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPaymentServlet</servlet-name>
        <url-pattern>/UserPaymentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>-->
    <context-param>
        <param-name>authtoken</param-name>
        <param-value>AVbRMUl4h2ZeivrQUb5Sel6J-6G9Own0AeQ3Sa_C3py8aXX4UPjuU0ew6gwYwqQts-vsXZpqOD5313JH</param-value>
    </context-param>
    <context-param>
        <param-name>posturl</param-name>
        <param-value>https://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
    </context-param>
    <context-param>
        <param-name>business</param-name>
        <param-value>labweb@gmail.com</param-value>
    </context-param>
    <!--    <context-param>
        <param-name>returnurl</param-name>
        <param-value>http://localhost:8084/TheDreamTraveling_SE130431/payment</param-value>
    </context-param>-->
    <resource-ref>
        <res-ref-name>DB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
